.content-title {
  margin: 3px;
  padding: 8px;
  /* border-radius: 7px;
  background: #ffffff;
  box-shadow: inset 6px 6px 12px #d9d9d9, 
              inset -6px -6px 12px #ffffff; */
  text-align: Center;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}