.site-layout-content {
    background: #fff;
    padding: 24px 40px;
    min-height: 280px;
  }
.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}